src/out/Azure.Core.dll
src/out/Bogus.dll
src/out/extensions.json
src/out/functions.metadata
src/out/Google.Protobuf.dll
src/out/Grpc.Core.Api.dll
src/out/Grpc.Net.Client.dll
src/out/Grpc.Net.ClientFactory.dll
src/out/Grpc.Net.Common.dll
src/out/host.json
src/out/Microsoft.Azure.Functions.Worker.Core.dll
src/out/Microsoft.Azure.Functions.Worker.dll
src/out/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
src/out/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
src/out/Microsoft.Azure.Functions.Worker.Grpc.dll
src/out/Microsoft.Bcl.AsyncInterfaces.dll
src/out/Microsoft.Extensions.Configuration.Abstractions.dll
src/out/Microsoft.Extensions.Configuration.Binder.dll
src/out/Microsoft.Extensions.Configuration.CommandLine.dll
src/out/Microsoft.Extensions.Configuration.dll
src/out/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
src/out/Microsoft.Extensions.Configuration.FileExtensions.dll
src/out/Microsoft.Extensions.Configuration.Json.dll
src/out/Microsoft.Extensions.Configuration.UserSecrets.dll
src/out/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/out/Microsoft.Extensions.DependencyInjection.dll
src/out/Microsoft.Extensions.FileProviders.Abstractions.dll
src/out/Microsoft.Extensions.FileProviders.Physical.dll
src/out/Microsoft.Extensions.FileSystemGlobbing.dll
src/out/Microsoft.Extensions.Hosting.Abstractions.dll
src/out/Microsoft.Extensions.Hosting.dll
src/out/Microsoft.Extensions.Http.dll
src/out/Microsoft.Extensions.Logging.Abstractions.dll
src/out/Microsoft.Extensions.Logging.Configuration.dll
src/out/Microsoft.Extensions.Logging.Console.dll
src/out/Microsoft.Extensions.Logging.Debug.dll
src/out/Microsoft.Extensions.Logging.dll
src/out/Microsoft.Extensions.Logging.EventLog.dll
src/out/Microsoft.Extensions.Logging.EventSource.dll
src/out/Microsoft.Extensions.Options.ConfigurationExtensions.dll
src/out/Microsoft.Extensions.Options.dll
src/out/Microsoft.Extensions.Primitives.dll
src/out/System.Diagnostics.EventLog.dll
src/out/System.Memory.Data.dll
src/out/worker.config.json
src/out/ZipDeploy-AzFunc.deps.json
src/out/ZipDeploy-AzFunc.dll
src/out/ZipDeploy-AzFunc.exe
src/out/ZipDeploy-AzFunc.runtimeconfig.json
src/out/ZipDeploypackage-v1.zip
src/out/.azurefunctions/function.deps.json
src/out/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
src/out/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
src/out/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
src/out/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
src/out/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
